doctype html
html(lang="en")
	head
		title = 'Node.js Template'
		style
			include ./main.css
	body
		div#main
			p.track #{trackone}
			p.track #{tracktwo}
			p.track #{trackthree}
			p.track #{trackfour}
			p.track #{trackfive}
